{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block body %}
    
    <h1>Start New Game</h1>
    <p>Please enter the names of the players below:</p>

    <form class="player-inputs" action="{{ url_for('start_game') }}" method="POST">
        {% for i in range(1,5) %}
            <div class="player">
                <label>Player {{ i }}</label>
                <input type="text" name="player_name" placeholder="Name" required>
            </div>
        {% endfor %}
        <button type="submit">Start</button>
    </form>

{% endblock %}