{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block body %}
    <a href="{{ url_for('index') }}"><button>Home</button></a>
    
    <h1>Start New Game</h1>
    <p>Please enter the names of the players below:</p>

    <div class="form">
        <div class="player-inputs">
            <div class="player">
                <h2>Player 1</h2>
                <input type="text" name="player_name" id="name" placeholder="Name">
            </div>
            <div class="player">
                <h2>Player 2</h2>
                <input type="text" name="player_name" id="name" placeholder="Name">
            </div>
            <div class="player">
                <h2>Player 3</h2>
                <input type="text" name="player_name" id="name" placeholder="Name">
            </div>
            <div class="player">
                <h2>Player 4</h2>
                <input type="text" name="player_name" id="name" placeholder="Name">
            </div>
        </div>
        <button id="start_game">Start Game</button>
    </div>

    

{% endblock %}