{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block body %}
    
    <h1>Start New Game</h1>
    <p>Please enter the names of the players below:</p>

    <form class="player-inputs" action="{{ url_for('start_game') }}" method="POST">
        <div class="player">
            <label>Player 1</label>
            <input type="text" name="player_name" placeholder="Name" required>
        </div>
        <div class="player">
            <label>Player 2</label>
            <input type="text" name="player_name" placeholder="Name" required>
        </div>
        <div class="player">
            <label>Player 3</label>
            <input type="text" name="player_name" placeholder="Name" required>
        </div>
        <div class="player">
            <label>Player 4</label>
            <input type="text" name="player_name" placeholder="Name" required>
        </div>
        <button type="submit">Start</button>
    </form>
    

{% endblock %}